<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.csu-hzy.xyz" class="link" target="_blank">我的主页</a> |
            <a href="http://www.jd.com" class="link" target="_blank">京东</a> |
            <a href="http://www.amazon.com" class="link" target="_blank">亚马逊</a>
        </div>
        <p class="copyright">
            Copyright © 2022 csu-hzy.xyz DecVens All Right Reserved
        </p>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>