<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.csu-hzy.xyz" class="link" target="_blank">DecVens</a> |
            <a href="https://www.csu.edu.cn" class="link" target="_blank">中南大学</a> |
            <a href="https://www.aliyun.com/" class="link" target="_blank">阿里云</a>
        </div>
        <p class="copyright">
            Copyright © 2022 csu-hzy.xyz DecVens All Right Reserved
            <br>
            闽ICP备2021015510号-1 </p>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>