<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head部分可以做SEO 搜索引擎优化 tips:搜索引擎更倾向收录https而不是http -->
    <%= require('./common/common-head.htm') %>
    <title>Store Title</title>
</head>

<body>
<%= require('./common/nav-top-simple.htm') %>
<h1>Hello World</h1>
<a href="https://www.csu.edu.cn" class="href">中南大学 href样式</a>
<a href="https://www.csu-hzy.xyz" class="link">个人主页 link样式</a>
<a href="#" class="btn">登录按钮</a>
<a href="#" class="btn btn-mini">mini登录按钮</a>
<i class="fa fa-user"></i>
<i class="fa fa-shopping-cart"></i>

<%= require('./common/common-footer.htm') %>
<h1>123</h1>
</body>

</html>